<head th:replace="fragments/library :: init" xmlns:th="https://www.thymeleaf.org">
</head>
<div class="elementProduct" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="table">
    <table>
        <tr  class="border border-dark" th:each="product: ${product}">
            <td id="name" th:text="${product.getName()}"></td>
            <td id="price" th:text="${product.getPrice()}"></td>
            <td id="zl" >  zl</td>
            <td><img th:src="${product.getHrefNameFile()}" width="200" height="200"></td>
            <td>
                <form method="post" th:object="${product}" action="/detailProduct">
                    <input type="hidden" name="name" th:value="${product.getName()}"/>
                    <input type="hidden" name="description" th:value="${product.getDescription()}"/>
                    <input type="hidden" name="price" th:value="${product.getPrice()}"/>
                    <input type="hidden" name="hrefNameFile" th:value="${product.getHrefNameFile()}"/>
                    <button type="submit" class="btn btn-sm-lg btn-primary">Kup</button>
                </form>
            </td>
        </tr>
    </table>
</div>