<head th:replace="fragments/library :: init" xmlns:th="http://www.w3.org/1999/xhtml">
</head>
<div id="element" class="col-sm-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table table-dark" th:fragment="table">

        <tr th:each="book: ${book}">
            <td th:text="${book.getName()}"></td>
            <td th:text="${book.getKind()}"></td>
            <td th:number="${book.getYearOfPublication()}"></td>
            <td><img th:src="${book.getHrefNameFile()}"></td>
            <td>
                <form method="post" th:object="${book}" action="/detailBook">
                    <input type="hidden" name="name" th:value="${book.getName()}"/>
                    <input type="hidden" name="kind" th:value="${book.getKind()}"/>
                    <input type="hidden" name="yearOfPublication" th:value="${book.getYearOfPublication()}"/>
                    <input type="hidden" name="hrefNameFile" th:value="${book.getHrefNameFile()}"/>
                    <button type="submit" class="btn btn-sm btn-warning">Kup</button>
                </form>
            </td>
        </tr>

    </table>
</div>