<head th:replace="fragments/library :: init" xmlns:th="https://www.thymeleaf.org">
    <link rel="Stylesheet" type="text/css" href="styleForindex.css">
</head>
<div id="element" class="col-sm-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <table th:fragment="table">

        <tr th:each="product: ${product}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getKind()}"></td>
            <td th:number="${product.getYearOfPublication()}"></td>
            <td><img th:src="${product.getHrefNameFile()}" width="20px" height="20px"></td>
            <td>
                <form method="post" th:object="${product}" action="/detailProduct">
                    <input type="hidden" name="name" th:value="${product.getName()}"/>
                    <input type="hidden" name="kind" th:value="${product.getKind()}"/>
                    <input type="hidden" name="yearOfPublication" th:value="${product.getYearOfPublication()}"/>
                    <input type="hidden" name="hrefNameFile" th:value="${product.getHrefNameFile()}"/>
                    <button type="submit" class="btn btn-sm btn-primary">Kup</button>
                </form>
            </td>
        </tr>

    </table>
</div>