<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/library :: init">
    <meta charset="UTF-8">
    <title>AdminConsole</title>
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div id="adminContainer">
    <div id="header">
        Witaj w panelu Admina
    </div>
    <div id="add">
        ADD
        </BR>
        <form th:object="${product}" method="post" action="/admin/add" enctype="multipart/form-data">
            <input type="text" name="name"/>
            <input type="text" name="kind"/>
            <input type="number" name="yearOfPublication"/>
            <input type="file" name="picture"/>

            <button type="submit" class="btn btn-sm btn-success">creat</button>
        </form>
    </div>
    </BR>
    </BR>
    </BR>
    </BR>
    </BR>
    <div id="delete">
        Delete
        </BR>
        <form method="post" action="/admin/delete">
            <input type="text" name="name"/>
            <button type="submit" class="btn btn-sm btn-danger">delete</button>
        </form>
    </div>
    <div class="backToIndex" th:replace="fragments/backToIndex :: hrefWIthIndex"></div>
</div>
</body>
</html>