<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/library :: init">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ADD
</BR>
<form th:object="${product}" method="post" action="/admin/add" enctype="multipart/form-data">
    <input type="text" name="name"/>
    <input type="text" name="kind"/>
    <input type="number" name="yearOfPublication"/>
    <input type="file" name="picture"/>

    <button type="submit" class="btn btn-sm btn-success">creat</button>
</form>
</BR>
</BR>
</BR>
</BR>
</BR>
Delete
</BR>
<form method="post" action="/admin/delete">
    <input type="text" name="name"/>
    <button type="submit" class="btn btn-sm btn-danger">delete</button>
</form>
</body>
</html>