<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/library :: init">
    <meta charset="UTF-8">
    <title>DetailProduct</title>
</head>
<body>
<tr th:each="product: ${product}">
    <td th:text="${product.getName()}"></td>
    <td th:text="${product.getKind()}"></td>
    <td th:text="${product.getYearOfPublication()}"></td>
    <td> <img th:src="${product.getHrefNameFile()}"></td>
</tr>
<form action="/buyProduct">
    <button type="submit" class="btn btn-sm btn-primary">KUP!!!</button>
</form>

</body>
</html>