<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/library :: init">
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>

<form th:object="${User}" method="post" action="/registration" >
    <input type="text" name="name"/>
    <input type="password" name="password"/>
    <input type="text" name="email"/>
    <input type="text" name="role"/>
    <!--    <input type="file" name="picture"/> -->
    <button type="submit" class="btn btn-sm btn-success">creat</button>
</form>



</body>
</html>